<h2 class="my-4">Listado de usuarios</h2>

<button class="btn btn-primary my-2" [routerLink]="['/users/create']">Crear Usuario</button>


@if (users.length > 0) {

<table class="table table-striped mx-2">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Email</td>
            <td>Usuario</td>
            <td>Eliminar</td>
            <td>Modificar</td>

        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>
                <button class="btn btn-danger" (click)="onRemoveUser(user.id)">
                    Eliminar
                </button>
            </td>
            <td>
                <button class="btn btn-info" [routerLink]="['/user/edit', user.id]">
                    Modificar
                </button>
            </td>
        </tr>
        }

    </tbody>
</table>

} @else {

<p class="alert alert-warning">No hay usuarios para mostrar</p>
}