<h2 class="my-4">Listado de Clientes</h2>

<div class="d-flex justify-content-end my-2">
    <button class="btn btn-primary" [routerLink]="['/users/create']">
        <i class="fas fa-user-plus"></i> Crear Usuario
    </button>
</div>

@if (users.length > 0) {
<table class="table table-striped mx-2">
    <thead>
        <tr>
            <th class="text-center">Foto</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Email</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
        <tr>
            <td class="text-center">
                <img [src]="user.image || 'img/IconUser.png'" alt="Imagen de {{ user.name }}" class="rounded-circle"
                    style="width: 70px; height: 70px; object-fit: cover;">

            </td>
            <td class="text-center">{{user.name}}</td>
            <td class="text-center">{{user.lastname}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">{{user.username}}</td>
            <td class="text-center">
                <div class="mx-2" role="group">
                    <button class="btn btn-success btn-icon me-2" title="Ver datos">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-info btn-icon me-2" [routerLink]="['/users/edit', user.id]" title="Modificar">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn btn-danger btn-icon" (click)="onRemoveUser(user.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

} @else {
<p class="alert alert-warning">No hay usuarios para mostrar</p>
}